/** @format */

.App body {
  background-color: white;
}
.App .pageTitle {
  font-family: "Neucha", cursive;
  margin: 15px auto 5px auto;
  text-align: center;
  font-size: 55px;
  color: #030202;
  width: 95%;
}
.App hr {
  width: 35%;
  display: block;
  margin: 10px auto 10px auto;
  color: #21aba5;
}
.App .container-fluid {
  text-align: center;
  font-family: "Neucha", cursive;
  width: 60%;
  padding: 40px 10px 40px;
  margin: 10px auto 10px auto;
  border: 1px dotted #21aba5;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.App .container-header {
  text-align: center;
}

.App .image-header {
  display: inline;
  border-radius: 15px;
  width: 20%;
}
